<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatting">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chatting"
        android:windowSoftInputMode="adjustResize">
        <activity android:name=".Activity.ChangePasswordActivity" />
        <activity android:name=".Activity.ChangeNicknameActivity" />
        <activity android:name=".Activity.SettingsActivity" />
        <activity android:name=".Activity.SuggestionsActivity" />
        <activity android:name=".Activity.TermsActivity" />
        <activity android:name=".Activity.MyPageActivity" />
        <activity android:name=".Activity.ReportActivity" />
        <activity android:name=".Activity.ChatActivity" />
        <activity android:name=".Activity.AllChatActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>